name: Build and deploy static website to Azure Web App - portfolio-web-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.2.0

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'

    steps:
      - name: Fetch latest release version
        id: fetch-latest-release
        uses: ./.github/actions/action-latest-release-version
        with:
          repository: AbdullahTanveer01/Portfolio_website

      - name: Use the latest release version
        run: echo "Latest release version: ${{ steps.fetch-latest-release.outputs.latest-release }}"

      # Add your deployment steps here, using the fetched release version as needed
